<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/98a50fb53a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Document</title>
  </head>
  <body class="about__body">
    <%- include('../partials/navbar') %>
    <div class="about__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi
      soluta reiciendis incidunt ratione voluptate omnis obcaecati. Sequi
      perspiciatis amet ut animi obcaecati qui nesciunt fuga! Voluptas omnis
      fugit eaque ullam ipsa quod sequi est consequuntur maxime. Rerum aperiam
      velit corporis unde modi esse iste deleniti! Dolorum a similique
      voluptate?
    </div>
    <div class="about__cards">
      <div class="about__card">
        <img src="https://picsum.photos/400/200?random=1" alt="" />
        <div class="about__card__data">
          <div class="about__card__info">
            <p>Mechanic</p>
            <p class="about__card__info__name">Corin Fadi</p>
            <p>Age 28</p>
          </div>
          <div class="about__card__desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium architecto accusamus consectetur ad est, ea fugit, error
            illum at exercitationem libero porro amet molestias sunt.
          </div>
        </div>
      </div>
      <div class="about__card">
        <img src="https://picsum.photos/400/200?random=2" alt="" />
        <div class="about__card__data">
          <div class="about__card__info">
            <p>Technician</p>
            <p class="about__card__info__name">Markus Odo</p>
            <p>Age 41</p>
          </div>
          <div class="about__card__desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium architecto accusamus consectetur ad est, ea fugit, error
            illum at exercitationem libero porro amet molestias sunt.
          </div>
        </div>
      </div>
      <div class="about__card">
        <img src="https://picsum.photos/400/200?random=0" alt="" />
        <div class="about__card__data">
          <div class="about__card__info">
            <p>Attorney</p>
            <p class="about__card__info__name">Kimmy Lene</p>
            <p>Age 35</p>
          </div>
          <div class="about__card__desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium architecto accusamus consectetur ad est, ea fugit, error
            illum at exercitationem libero porro amet molestias sunt.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
