<header class="homepage__header">
  <div class="homepage__header__overlay"></div>
  <div class="homepage__header__content">
    <div class="homepage__header__content__wrapper">
      <h1 class="homepage__header__content__title">
        Lorem Ipsum Dolor Sit Amet
      </h1>
      <p class="homepage__header__content__desc">
        deserunt atque expedita, eveniet cum nihil molestias vitae fuga labore.
      </p>
    </div>
    <button class="homepage__header__content__button">
      Start Exploring Now
    </button>
  </div>
</header>
