<div class="overlay">
  <div class="menu">
    <div class="menu__header">Login</div>
    <div class="flow">
      <a class="menu__item menu__item__google" href="/auth/google"
        >Login With Google <i class="fa-brands fa-google"></i>
      </a>
      <a class="menu__item menu__item__twitter" href="/auth/google"
        >Login With Twitter <i class="fa-brands fa-twitter"></i>
      </a>
      <a class="menu__item menu__item__facebook" href="/auth/google"
        >Login With Facebook <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
</div>
